In [1]:
import pandas as pd
import numpy as np

In [2]:
users = pd.read_csv('./Dataset/user.csv', usecols=['user_id', 'friends'])

In [3]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987897 entries, 0 to 1987896
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   friends  object
dtypes: object(2)
memory usage: 30.3+ MB

In [4]:
users.head()

                  user_id                                            friends
0  qVc8ODYU5SZjKXVBgXdI7w  NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...
1  j14WgRoU_-2ZE1aw1dXrJg  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...
2  2WnXYQFK0hXEoTxPtV2zvg  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...
3  SZDeASXq7o05mMNLshsdIA  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...
4  hA5lMy-EnncsH4JoR-hFGQ  PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...

In [5]:
len(users.iloc[0]['friends'].split(','))

14995

In [6]:
len(users)

1987897

# P30. Según la paradoja de la amistad, en redes sociales, tus amigos suelen tener en promedio más amigos que vos :(. Calcule el promedio de amigos que tiene cada usuario y el promedio de amigos que tienen los amigos de cada usuario.

In [7]:
len(users['user_id'].unique()) # hay usuarios repetidos?

1987897

No hay usuarios repetidos en users. Entonces "el promedio de amigos que tiene cada usuario" es la totalidad de amigos del usuario.

In [8]:
friends_count = users['friends'].str.count(',')

In [9]:
friends_count[friends_count < 5]

46         1
67         0
115        3
139        4
219        4
          ..
1987892    0
1987893    0
1987894    0
1987895    0
1987896    0
Name: friends, Length: 1144961, dtype: int64

In [10]:
users.loc[[46]]

                   user_id                                         friends
46  bNJmIcxc_FRWxftI_vhpbg  -XaJjvMGQNARPz6zDEviaA, idxYND4JfLwijtONahHY6w

In [11]:
users.loc[[1987893]]

                        user_id friends
1987893  68czcr4BxJyMQ9cJBm6C7Q    None

Acá vemos que está contando un amigo menos para cada uno, pero sumarle 1 a todos va a agregarle un amigo a los que de verdad, tengan 0, así que lo que voy a hacer es agregarle 1  todos y después a los que tienen NaN en los amigos los voy a volver a 0.

In [12]:
users['friends_count'] = users['friends'].str.count(',') + 1

In [13]:
users.head()

,user_id,friends,friends_count
0,qVc8ODYU5SZjKXVBgXdI7w,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",14995
1,j14WgRoU_-2ZE1aw1dXrJg,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",4646
2,2WnXYQFK0hXEoTxPtV2zvg,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",381
3,SZDeASXq7o05mMNLshsdIA,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",131
4,hA5lMy-EnncsH4JoR-hFGQ,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",27

In [14]:
users.loc[users['friends'] == 'None', ['friends_count']] = 0

In [15]:
users[users['friends'] == 'None']

                        user_id friends  friends_count
138689   EzPKLvohyW6RfRAuv9ppuQ    None              0
138690   60l9WbYIyqwl0j-1cAO7Dw    None              0
138691   rHL3K9zBk3TwqiKL44Li1A    None              0
138692   qlEBocL9zba4PoVpXKtefw    None              0
138693   RE_g-IxTW-7Bwgj0A5CwLA    None              0
...                         ...     ...            ...
1987892  fB3jbHi3m0L2KgGOxBv6uw    None              0
1987893  68czcr4BxJyMQ9cJBm6C7Q    None              0
1987894  1x3KMskYxOuJCjRz70xOqQ    None              0
1987895  ulfGl4tdbrH05xKzh5lnog    None              0
1987896  wL5jPrLRVCK_Pmo4lM1zpA    None              0

[878551 rows x 3 columns]

In [17]:
users_to_merge = users.head(1000)
# users_to_merge = users

friends_as_df = users_to_merge.set_index('user_id')['friends'].str.strip().str.split(',', expand=True)
friends_as_df

,0,1,2,3,4,5,6,7,8,9,...,14985,14986,14987,14988,14989,14990,14991,14992,14993,14994
user_id,,,,,,,,,,,,,,,,,,,,,
qVc8ODYU5SZjKXVBgXdI7w,NSCy54eWehBJyZdG2iE84w,pe42u7DcCH2QmI81NX-8qA,EjlCGf14tYMPJ0rsrL703w,7OagHIAKx2Rm9z3CQ0OmvA,uZoFvKs0dahfffIqHQf1eA,TW7-U8Y_SYsAX91Ol5LlfA,6EDA76lfkaTyOeuxkg0Fmw,MsTKApUX1VF2Mv9jpUIG5g,Rq4TAwX8vj0Ccc3Pt0mJ5g,P77zKKIP9xyakKLRutvdAQ,...,mPmbOkH3NxXbdoJ-lejjzw,34pnOU_2J1U98ZhZKS6ykA,VX6NGOZ3-SzyUVJTnySXCw,89QWkq_bB3cT9GRku5x-xQ,bOJ54n_SlEg5w0QbZwuRFQ,4DFmd5LCXoLgHtYBytJJPA,SXfvHWScLghzoTSBqb_e6w,KBEsvydMCNHYFY6CIiJtQg,LYGGtE2B0zSna9v6p3rcvg,mEjPkT-wxU8kBm2zj2Cmzw
j14WgRoU_-2ZE1aw1dXrJg,ueRPE0CX75ePGMqOFVj6IQ,52oH4DrRvzzl8wh5UXyU0A,E_GAXhVA1_lVC2aFpMQElA,HwlpkOpidkZWvyjrxFk6Ag,kuDmRGcvJhFCHEXTNH1d4Q,BW_Lpb14P7CTQwHlaek0_w,1_cezAbuZSyLR1-FL6V91Q,uM2P8fjFurr0SH7QcSc61g,Yfww7hhQRmaFS6R_KN3Y4Q,snfPI6c9Pzc-q-mNXxft1A,...,None,None,None,None,None,None,None,None,None,None
2WnXYQFK0hXEoTxPtV2zvg,LuO3Bn4f3rlhyHIaNfTlnA,j9B4XdHUhDfTKVecyWQgyA,pypZb3V5TXHOnlTj-qLSrw,7cDAEEnwfSqG2Lv8Vanr3Q,irkRHMqg9oSt7lv3OSiNkA,6jEeCpNEU9l8CT9X566Oog,W5VmqP2T4O_aAMq5YwTJzQ,wzyY07YiGwgRKCIcsrBuRQ,IL2yTm7zGmsTF4iKVSZ0ug,AB9JedB0R5wWIsAGjXoMWw,...,None,None,None,None,None,None,None,None,None,None
SZDeASXq7o05mMNLshsdIA,enx1vVPnfdNUdPho6PH_wg,4wOcvMLtU6a9Lslggq74Vg,1OocYCAZixwbAXueW75FMw,GM_iCKAB1eszzcrTZ0zbfg,RgDVC3ZUBqpEe6Y1kPhIpw,i1NwLLny-RDwONN6B6PcWA,PYxHpeTz2ZxZNJEBIAJgvg,iintcYjvi6p0t_6y72KlZg,mBg3-7rnNwLScbARYHI2GQ,ri4ujkuugWObCu9AkLJqAQ,...,None,None,None,None,None,None,None,None,None,None
hA5lMy-EnncsH4JoR-hFGQ,PBK4q9KEEBHhFvSXCUirIw,3FWPpM7KU1gXeOM_ZbYMbA,AWpdSLtet45ZfbYxR_QtGw,QTLb-h7-9RYFDGkDX3-dJg,gmb_vgiPYXS_g-2tXevDng,hpw0VmkI1okMheHoE_Zg5A,UN26eUIXD5HSZt-b6DA_qQ,ZPffRCIk8Y0HJFzvhZebbg,hjUxm7j0uqmhD7OtZFZ2sQ,3B9OpzTdQt2qZCJNcwXB_A,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CiYRhDyFbsDbWR45uv822w,m1wo8yvaTLLhaILpHNLinA,b_ED_rPl7OLwEpUlr4VI5A,f5RHZXM3hB9UEne98JP7pg,Jm8NXbXoFvxY_cW19k9KLQ,l1IuHr3dxZWSDc5xj80sTA,t72m5VlNaaHG7aNcquzgpA,Pc9TIdnI_dgds-4xGyQwsg,GGWjA8v479feCo6OPTLQOg,GBc0JzFKfLNvZdqMwxojsA,OzTc-I9XtnaG3396u_yY6A,...,None,None,None,None,None,None,None,None,None,None
90QrD73MiLPjs4mtkmBqQQ,qB1-nREOrp-mlYi-1gNsIQ,g35P2UgyRK1ercs6rVkN1Q,YnCHoIxBrRNPcqhaTpZO1w,FQfRqluLKr9bbnC5lwtZ1g,KIb7TjPKw2Ry5dTz7Smy7w,Ghf6jvYdtMZ0l-uSloTP9g,bJ5FtCtZX3ZZacz2_2PJjA,-SlWJhzUzqUO61vJoKYbOA,0ObIfSgndeeR_kGlo1S7Ww,IWRNV6IjKckdUBjxdlJkNQ,...,None,None,None,None,None,None,None,None,None,None
4tK3tiB3zggiYudjU9H03g,1ypK74Sr0QmsJ8IZG8v0cQ,ncnHqPdCqhjglPlU-tsLHw,y2_42v4TBWWCbywEBKB_eg,4_c4j_m6Kj9ZXuBnh2PePw,KDewJBJknfWvQyHHFNbfdg,rjbPoE6mHXk2U8siRjYqlw,xcBzAAJ24kmwnkwVf42GMA,3srdQWpVU59bRn1amE4ZTQ,EvYskfEeM2HopRoCviUtlg,ABrA-3Eck3w_KUpU6Scwjg,...,None,None,None,None,None,None,None,None,None,None
WyvvWRCCHizctkFdGWz72A,_NiVqGbGHxaVgI1f25BqgA,hVEjo6v4G2SE4BQi4K8bCA,aZbwxuVFsaKn6UhzrCvupQ,bsEB7dCRBvIf1aFXsRkbpg,iM05kqp4tY_AOBNh34oATQ,2S1oayoy9qNYZ2HThW0NOg,h_yMvhLsHyPlbimS3ikWiA,r1B2oFkAHI8yuom-Si0vzg,5AK4Ppn12WgWqpEWDqgsSg,O5t14Bj9lj_NXyi_qJKUCw,...,None,None,None,None,None,None,None,None,None,None
NpdXQqJFmuQ4wAO9CsgzUg,aFP1J3Qv__QfubkllyKHUQ,3YdFgaud6NGDJMmTqJLE5g,Ly9pDi_fZowdQQ8NlCHhwQ,6A9DJ9J8PP_hYI6_lBSFxQ,cx74bConhbUFMSDoWqaC5g,U_6GKV_iUno-jf6LMKrsDw,L27OShvycGmVOkAxD1h86A,LXWRNk_NNK6kQB5ffrbo3Q,5Y5KbsI5buMcNh2hTFaRpA,fvsWkGFDlE2yixqsPTf7NQ,...,None,None,None,None,None,None,None,None,None,None

In [18]:
users_with_friends = friends_as_df.stack().reset_index().rename(columns={0: 'friend'})
del(users_with_friends['level_1'])
users_with_friends

                       user_id                   friend
0       qVc8ODYU5SZjKXVBgXdI7w   NSCy54eWehBJyZdG2iE84w
1       qVc8ODYU5SZjKXVBgXdI7w   pe42u7DcCH2QmI81NX-8qA
2       qVc8ODYU5SZjKXVBgXdI7w   EjlCGf14tYMPJ0rsrL703w
3       qVc8ODYU5SZjKXVBgXdI7w   7OagHIAKx2Rm9z3CQ0OmvA
4       qVc8ODYU5SZjKXVBgXdI7w   uZoFvKs0dahfffIqHQf1eA
...                        ...                      ...
496575  NpdXQqJFmuQ4wAO9CsgzUg   5Y5KbsI5buMcNh2hTFaRpA
496576  NpdXQqJFmuQ4wAO9CsgzUg   fvsWkGFDlE2yixqsPTf7NQ
496577  NpdXQqJFmuQ4wAO9CsgzUg   450LjmBcyBpyWIYIBvKN_A
496578  NpdXQqJFmuQ4wAO9CsgzUg   zokG_LzJh-kihEvHYV4lEg
496579  NpdXQqJFmuQ4wAO9CsgzUg   U-mUuEHxRI3Cxmid3je7Vw

[496580 rows x 2 columns]

In [19]:
users_with_friends_with_friends_count = users_with_friends.merge(users, left_on='friend', right_on='user_id', how='left')
del(users_with_friends_with_friends_count['user_id_y'])
del(users_with_friends_with_friends_count['friends'])
users_with_friends_with_friends_count.rename(columns={'user_id_x': 'user_id'}, inplace=True)
users_with_friends_with_friends_count.fillna(0, inplace=True)  # en caso de que algun amigo no este en la base
users_with_friends_with_friends_count

                       user_id                   friend  friends_count
0       qVc8ODYU5SZjKXVBgXdI7w   NSCy54eWehBJyZdG2iE84w         1392.0
1       qVc8ODYU5SZjKXVBgXdI7w   pe42u7DcCH2QmI81NX-8qA            0.0
2       qVc8ODYU5SZjKXVBgXdI7w   EjlCGf14tYMPJ0rsrL703w            0.0
3       qVc8ODYU5SZjKXVBgXdI7w   7OagHIAKx2Rm9z3CQ0OmvA            0.0
4       qVc8ODYU5SZjKXVBgXdI7w   uZoFvKs0dahfffIqHQf1eA            0.0
...                        ...                      ...            ...
496575  NpdXQqJFmuQ4wAO9CsgzUg   5Y5KbsI5buMcNh2hTFaRpA            0.0
496576  NpdXQqJFmuQ4wAO9CsgzUg   fvsWkGFDlE2yixqsPTf7NQ            0.0
496577  NpdXQqJFmuQ4wAO9CsgzUg   450LjmBcyBpyWIYIBvKN_A            0.0
496578  NpdXQqJFmuQ4wAO9CsgzUg   zokG_LzJh-kihEvHYV4lEg            0.0
496579  NpdXQqJFmuQ4wAO9CsgzUg   U-mUuEHxRI3Cxmid3je7Vw            0.0

[496580 rows x 3 columns]

In [20]:
users_with_friends_with_friends_count[users_with_friends_with_friends_count['friends_count'] > 0]

                       user_id                  friend  friends_count
0       qVc8ODYU5SZjKXVBgXdI7w  NSCy54eWehBJyZdG2iE84w         1392.0
14995   j14WgRoU_-2ZE1aw1dXrJg  ueRPE0CX75ePGMqOFVj6IQ          839.0
20022   SZDeASXq7o05mMNLshsdIA  enx1vVPnfdNUdPho6PH_wg          302.0
26023   cxuxXkcihfCbqt5Byrup8Q  HDAQ74AEznP-YsMk1B14CA            6.0
26046   E9kcWJdJUHuTKfQurPljwA  y2GyxJF5VQWohxgw_GR7Jw           19.0
...                        ...                     ...            ...
491892  XVFxHMIRLWiUiHu2I8Zelw  KK7l6yaGlz9FJttTlLqa1w            5.0
493077  LZZlD-7A1o_lCQZAt_NvLA  YKT0lqXc8U8HqH8Zqitynw          395.0
495918  CiYRhDyFbsDbWR45uv822w  m1wo8yvaTLLhaILpHNLinA          390.0
496015  90QrD73MiLPjs4mtkmBqQQ  qB1-nREOrp-mlYi-1gNsIQ           10.0
496130  4tK3tiB3zggiYudjU9H03g  1ypK74Sr0QmsJ8IZG8v0cQ          262.0

[372 rows x 3 columns]

In [21]:
users_with_friends.columns

Index(['user_id', 'friend'], dtype='object')

In [22]:
friends_by_user_id = users_to_merge.merge(users_with_friends_with_friends_count, on='user_id', how='left')
del(friends_by_user_id['friends'])
friends_by_user_id

,user_id,friends_count_x,friend,friends_count_y
0,qVc8ODYU5SZjKXVBgXdI7w,14995,NSCy54eWehBJyZdG2iE84w,1392.0
1,qVc8ODYU5SZjKXVBgXdI7w,14995,pe42u7DcCH2QmI81NX-8qA,0.0
2,qVc8ODYU5SZjKXVBgXdI7w,14995,EjlCGf14tYMPJ0rsrL703w,0.0
3,qVc8ODYU5SZjKXVBgXdI7w,14995,7OagHIAKx2Rm9z3CQ0OmvA,0.0
4,qVc8ODYU5SZjKXVBgXdI7w,14995,uZoFvKs0dahfffIqHQf1eA,0.0
...,...,...,...,...
496575,NpdXQqJFmuQ4wAO9CsgzUg,13,5Y5KbsI5buMcNh2hTFaRpA,0.0
496576,NpdXQqJFmuQ4wAO9CsgzUg,13,fvsWkGFDlE2yixqsPTf7NQ,0.0
496577,NpdXQqJFmuQ4wAO9CsgzUg,13,450LjmBcyBpyWIYIBvKN_A,0.0
496578,NpdXQqJFmuQ4wAO9CsgzUg,13,zokG_LzJh-kihEvHYV4lEg,0.0
496579,NpdXQqJFmuQ4wAO9CsgzUg,13,U-mUuEHxRI3Cxmid3je7Vw,0.0

In [25]:
answer = friends_by_user_id.groupby('user_id').agg({'friends_count_x': 'mean', 'friends_count_y': 'mean'}).rename(columns=
                                                                                                        {
                                                                                                            'friends_count_x': 'user_friends_count',
                                                                                                            'friends_count_y': 'friends_mean_friends_count'
                                                                                                        })
answer.reset_index(inplace=True)

In [28]:
answer.to_csv('friends_by_user_id.csv', mode='a', index=False)

Lo anterior fue para inspeccionar los datos y se hizo con las primeras 1000 líneas de la tabla de usuarios. Ahora hay que hacerlo con todas pero eso causaría un overflow en la memoria. Así que lo vamos a tener que hacer por batches.

In [30]:
total_users = len(users)
total_users

1987897

In [35]:
import os
os.remove("friends_by_user_id.csv")  # removing the file because  the for appends on it.

total_users = len(users)

for i in range(0, total_users, 1000):
    limit = i + 9999 if i + 9999 < total_users - 1 else total_users - 1
    users_to_merge = users.iloc[i:limit]

    friends_as_df = users_to_merge.set_index('user_id')['friends'].str.strip().str.split(',', expand=True)
    
    users_with_friends = friends_as_df.stack().reset_index().rename(columns={0: 'friend'})
    
    # adding friend_count on each row with the value that corresponds to the friend in the row
    del(users_with_friends['level_1'])
    # it's important that this merge is against all the users dataframe to get our data right.
    users_with_friends_with_friends_count = users_with_friends.merge(users, left_on='friend', right_on='user_id', how='left')
    del(users_with_friends_with_friends_count['user_id_y'])
    del(users_with_friends_with_friends_count['friends'])
    users_with_friends_with_friends_count.rename(columns={'user_id_x': 'user_id'}, inplace=True)
    users_with_friends_with_friends_count.fillna(0, inplace=True)  # in case a friends it's not in our dataframe
    
    friends_by_user_id = users_to_merge.merge(users_with_friends_with_friends_count, on='user_id', how='left')
    del(friends_by_user_id['friends'])
    
    answer = friends_by_user_id.groupby('user_id').agg({'friends_count_x': 'mean', 'friends_count_y': 'mean'}).rename(columns=
                                                                                                        {
                                                                                                            'friends_count_x': 'user_friends_count',
                                                                                                            'friends_count_y': 'friends_mean_friends_count'
                                                                                                        })
    answer.reset_index(inplace=True)
    
    answer.to_csv('friends_by_user_id.csv', mode='a', index=False)

In [36]:
read_answer = pd.read_csv('friends_by_user_id.csv')
read_answer

                         user_id user_friends_count friends_mean_friends_count
0         --KsuCSkGGvDKTbdK9NvIg               41.0                        0.0
1         --ZNfWKj1VyVElRx6-g1fg              538.0                        0.0
2         --ccVMj2PN6Z9qtdOdlung               20.0                      271.6
3         --qijw7qsKsG-v6rreDOAA                4.0                       1.75
4         --sL83g4I7GhwcBRQjKS6A              580.0        0.03793103448275862
...                          ...                ...                        ...
19833964  zGb3f4IiGvgwfgG4GUkBrg                0.0                        0.0
19833965  zLOCtiWsdSwhuGtislItcw                0.0                        0.0
19833966  zUFoSmFXytjiWL1L83zMiw                0.0                        0.0
19833967  zfpgFeNNytnxVWd2PZT-DQ                0.0                        0.0
19833968  ztPxycFhFOg-WJboc7-bGA                0.0                        0.0

[19833969 rows x 3 columns]

In [38]:
len(read_answer[read_answer['user_friends_count'] < read_answer['friends_mean_friends_count']])

1012617

In [39]:
len(read_answer[read_answer['user_friends_count'] > read_answer['friends_mean_friends_count']])

10009312