In [88]:
import pandas as pd
import numpy as np

In [89]:
users = pd.read_csv('./Dataset/user.csv', usecols=['user_id', 'friends'])

In [90]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987897 entries, 0 to 1987896
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   friends  object
dtypes: object(2)
memory usage: 30.3+ MB

In [91]:
users.head()

                  user_id                                            friends
0  qVc8ODYU5SZjKXVBgXdI7w  NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...
1  j14WgRoU_-2ZE1aw1dXrJg  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...
2  2WnXYQFK0hXEoTxPtV2zvg  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...
3  SZDeASXq7o05mMNLshsdIA  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...
4  hA5lMy-EnncsH4JoR-hFGQ  PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...

In [92]:
len(users.iloc[0]['friends'].split(','))

14995

In [93]:
len(users)

1987897

# P30. Según la paradoja de la amistad, en redes sociales, tus amigos suelen tener en promedio más amigos que vos :(. Calcule el promedio de amigos que tiene cada usuario y el promedio de amigos que tienen los amigos de cada usuario.

In [94]:
len(users['user_id'].unique()) # hay usuarios repetidos?

1987897

No hay usuarios repetidos en users. Entonces "el promedio de amigos que tiene cada usuario" es la totalidad de amigos del usuario.

In [95]:
friends_count = users['friends'].str.count(',')

In [96]:
users.loc[[46]]

                   user_id                                         friends
46  bNJmIcxc_FRWxftI_vhpbg  -XaJjvMGQNARPz6zDEviaA, idxYND4JfLwijtONahHY6w

In [97]:
users.loc[[1987893]]

                        user_id friends
1987893  68czcr4BxJyMQ9cJBm6C7Q    None

Acá vemos que está contando un amigo menos para cada uno, pero sumarle 1 a todos va a agregarle un amigo a los que de verdad, tengan 0, así que lo que voy a hacer es agregarle 1  todos y después a los que tienen NaN en los amigos los voy a volver a 0.

In [98]:
users['friends_count'] = users['friends'].str.count(',') + 1

In [99]:
users.loc[users['friends'].isnull(), ['friends_count']] = 0

In [100]:
users.set_index('user_id', inplace=True)

In [101]:
users.head()

,friends,friends_count
user_id,,
qVc8ODYU5SZjKXVBgXdI7w,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",14995
j14WgRoU_-2ZE1aw1dXrJg,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",4646
2WnXYQFK0hXEoTxPtV2zvg,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",381
SZDeASXq7o05mMNLshsdIA,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",131
hA5lMy-EnncsH4JoR-hFGQ,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",27

Ahora convierto esto a un dictionary cuya key es el user_id para que cada vez que necesite buscar por user_id cada amigo y traer
sus datos, no invertir procesamiento en la búsqueda.

In [102]:
users_dict = users.to_dict('index')
users_dict[list(users_dict.keys())[4]]

{'friends': 'PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA, AWpdSLtet45ZfbYxR_QtGw, QTLb-h7-9RYFDGkDX3-dJg, gmb_vgiPYXS_g-2tXevDng, hpw0VmkI1okMheHoE_Zg5A, UN26eUIXD5HSZt-b6DA_qQ, ZPffRCIk8Y0HJFzvhZebbg, hjUxm7j0uqmhD7OtZFZ2sQ, 3B9OpzTdQt2qZCJNcwXB_A, SVmMQFw-eqDMzizruVhypQ, Y04yRCQ12M435p6v2X3uow, W1EVCvCnle1CQEnuvV7xFQ, aBrrtkB4j1eewa_S9nkwBA, tjm3b3Ts8msuGiYRybHx0Q, Z1MFQFgn-O9ADIOr6g-wEQ, tEUxh2rK4M_9r_XBH4S-oQ, FrWXMb2ixxJG49YuhIye4g, 16cK8VltpHEGMNbqpbpXpA, S3CpkNFpx1QUW0Q4xTWhIw, NgMSgZNDXCWnA1UB6ngFxQ, GR-pfj00PXOaqCSRiF4NCA, wQR26Y7QyZY1eXvi989s-g, ccFwJ1oUv5ILhHS6OXac2A, xGbN2D2YUouarZiZG_0GMQ, SM7CpJ3WwcdoAu59jvtLzA, F7JfpRM9Ld2RMvXrL2DWZA',
 'friends_count': 27}

In [103]:
for user_id in users_dict.keys():
    if users_dict[user_id]['friends_count'] == 0:  # Esto es un guard para evitar los que no tienen amigos
        users_dict[user_id]['friends_mean'] = 0
        continue
    
    
    friends_list = users_dict[user_id].get('friends').split(',')
    total_friends = len(friends_list)
    
        
    friends_of_friends = 0
    for friend_id in friends_list:
        friend_id = friend_id.strip()
        friend_dict = users_dict.get(friend_id)
        # Puede pasar que un usuario no esté en la base que recibí, si es así, no lo cuento para el promedio de los amigos
        if friend_dict is None:
            total_friends -= 1
            continue
        friends_of_friends += friend_dict.get('friends_count')  
        
    
    if total_friends == 0:  # Esto es un guard para marcar a los usuarios de cuyos amigos no tenemos informacion
        users_dict[user_id]['friends_mean'] = -1
        continue
        
    users_dict[user_id]['friends_mean'] = friends_of_friends / total_friends

In [104]:
users_with_friends_count_mean = pd.DataFrame.from_dict(users_dict, orient='index')
users_with_friends_count_mean.head()

,friends,friends_count,friends_mean
qVc8ODYU5SZjKXVBgXdI7w,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",14995,298.246959
j14WgRoU_-2ZE1aw1dXrJg,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",4646,825.783005
2WnXYQFK0hXEoTxPtV2zvg,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",381,1521.613861
SZDeASXq7o05mMNLshsdIA,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",131,1022.690476
hA5lMy-EnncsH4JoR-hFGQ,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",27,19.333333

### Usuarios de cuyos amigos no tenemos información

In [105]:
len(users_with_friends_count_mean[users_with_friends_count_mean.friends_mean < 0])

1081718

In [106]:
users_with_friends_count_mean.drop(users_with_friends_count_mean[users_with_friends_count_mean.friends_mean < 0].index, inplace=True)

In [107]:
len(users_with_friends_count_mean)

906179

In [108]:
result = users_with_friends_count_mean[['friends_count', 'friends_mean']].mean()
result

friends_count    113.947534
friends_mean     522.055978
dtype: float64

## Respuesta

In [110]:
print(f'En promedio los usuarios tienen {result[0]:.2f} amigos mientras que sus amigos, en promedio, tienen {result[1]:.2f} amigos.')

En promedio los usuarios tienen 113.95 amigos mientras que sus amigos, en promedio, tienen 522.06 amigos.